.body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(65, 28, 15);
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #f3f3f3;
}

.wrapper{
  display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
}

.background-image{
  width: 700px;
  height: 100px;
  background-color: #090909;
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-animation{
  color: #f3f3f3;
}

.background-text-animation{
      font-family: 'Rubik Mono One', sans-serif;
      color: #fb6d3a;
      font-size: 30px;
      padding-top: 15px;
      padding-left: 30px;
      max-width: 40ch;
      text-align: center;
      transform: scale(0.94);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }
  
    @keyframes scale {
      100% {
        transform: scale(1);
      }
    }

      span {
          display: inline-block;
          opacity: 0;
          filter: blur(4px);
        }
      
        span:nth-child(1) {
          animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      
        span:nth-child(2) {
          animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      
        span:nth-child(3) {
          animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      
        span:nth-child(4) {
          animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      
        span:nth-child(5) {
          animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      
        span:nth-child(6) {
          animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      @keyframes fade-in {
          100% {
            opacity: 1;
            filter: blur(0);
          }
    }
/* about styles */

.about {
  margin-bottom: 50px;
  padding-left: 50px;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
font-family: 'Aboreto', cursive;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #fb6d3a;;
  margin-bottom: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

.about-discription {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #595959;
  width: 600px;
font-family: 'Josefin Sans', sans-serif;
  word-spacing: 5px;
}

/* projects styles */

.projects {
  margin-bottom: 50px;
  padding-left: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
  font-family: 'Aboreto', cursive;
}

.projects-list {
  padding: 0;
  margin-left: 15px;
}

.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  list-style-type: none;
}

.project,
.project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-link {
  font-size: 19px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: none;
}

.project-link-git{
  padding-left: 20px;
    font-size: 19px;
      font-family: 'Alegreya Sans SC', sans-serif;
      color: #595959;
}

.project-bracet {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-text{
  margin-top: 0;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  word-spacing: 5px;
}
/* work styles */

.work {
  margin-bottom: 40px;
  padding-left: 50px;
}

.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
  font-family: 'Aboreto', cursive;
}

.organization {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  
    font-family: 'Josefin Sans', sans-serif;
}

.achivment{
  font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
  word-spacing: 5px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* Education styles */

.education {
  padding-left: 50px;
}

.department {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
  font-family: 'Alegreya Sans SC', sans-serif
}

.university {
  font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: Aboreto, cursive;
  color: #fb6d3a;
  margin-bottom: 10px;

}

/* sidebar styles */

.sidebar {
  background-color: #090909;
  padding-top: 40px;
  width: 320px;
}

.photo {
  width: 300px;
  margin-bottom: 50px;
  margin-left: 10px;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 168.5px;
}

.contacts,
.tech-skills {
  margin-left: 40px;
  margin-bottom: 50px;
}

.soft-skills {
  margin-left: 40px;
  margin-top: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contact-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

.contact-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
}

.sidebar-title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 27px;
  color: #fb6d3a;
  margin-bottom: 10px;
  font-family: 'Aboreto', cursive;
}

.tech-skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.tech-skills-item {
  color: #fb6d3a;
  font-family: 'Labrada', serif;
}

.tech-skills-text {
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.soft-skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.soft-skills-item {
  color: #fb6d3a;
  font-family: 'Aboreto', cursive;
}

.soft-skills-text {
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

/*  media     */
